<% content_for :page_title do %>
  Settings
<% end %>

<div id="accounts-edit">
  <%= form_for @user, url: users_account_path, html: { class: "basic-form" } do |f| %>
    <%= render "shared/validation_errors", resource: @user %>

    <div class="form-group">
      <label class="instructions">
        Your account is associated with the following email address:
      </label>
      <p class="form-control-static"><%= @user.email %></p>
    </div>

    <%= render "form", f: f, user: @user %>

    <div class="footer">
      <div class="inner">
        <%= f.submit "Save", class: "btn-blue" %>
        <%= link_to "Cancel", root_path, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("div.time-period label").not(".selected").click(function() {
    $("div.time-period label.selected").removeClass("selected");
    $(this).addClass("selected");
  });

  var radio_id = $("div.time-period input:checked").attr("id");
  $("label[for='" + radio_id + "']").click();
</script>
