<% content_for :page_title do %>
  Settings
<% end %>

<div id="accounts-edit">
  <%= form_for @user, url: users_account_path, html: { class: "basic-form" } do |f| %>
    <%= render "shared/validation_errors", resource: @user %>

    <div class="form-group">
      <label class="instructions">
        Your account is associated with the following email address:
      </label>
      <p class="form-control-static"><%= @user.email %></p>
    </div>

    <div class="form-group neg-top-margin">
      <%= f.label :time_zone, class: "instructions" do %>
        Choose the time zone you live in:
      <% end %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones,
        { default: "Central Time (US & Canada)" }, class: "form-control" %>
    </div>

    <%= f.fields_for :configuration do |config| %>
      <div class="form-group neg-top-margin">
        <%= config.label :calendar_id, class: "instructions" do %>
          Choose the Google calendar where new events should be added:
        <% end %>
        <%= config.collection_select :calendar_id, @calendars, :id, :summary, {},
          class: "form-control" %>
      </div>

      <div class="form-group currency neg-top-margin">
        <%= config.label :monthly_goal, class: "instructions" do %>
          Enter the amount that you want to make each <b>month</b>:
        <% end %>
        <%= fa_icon "dollar" %>
        <%= config.text_field :monthly_goal, value: config.object.formatted_monthly_goal(""),
          placeholder: "0.00", class: "form-control" %>
      </div>

      <div class="form-group time-period neg-top-margin">
        <p class="instructions">Choose how you want your progress score to be calculated:</p>
        <%= config.collection_radio_buttons :time_period, TimeRangeDictionary::TIME_PERIODS,
          :to_s, :titleize do |builder| %>
          <%= builder.label { builder.radio_button(class: "hidden") + builder.text } %>
        <% end %>
      </div>

      <div class="checkbox">
        <%= config.label :exclude_unpaid do %>
          <%= config.check_box :exclude_unpaid %>
          Only events that have been marked as <b>paid</b> count towards your goal
        <% end %>
      </div>
    <% end %>

    <div class="footer">
      <div class="inner">
        <%= f.submit "Save", class: "btn-blue" %>
        <%= link_to "Cancel", root_path, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $("div.time-period label").not(".selected").click(function() {
    $("div.time-period label.selected").removeClass("selected");
    $(this).addClass("selected");
  });

  var radio_id = $("div.time-period input:checked").attr("id");
  $("label[for='" + radio_id + "']").click();
</script>
