<%= form_for @configuration, url: users_configuration_path do |f| %>
  <div class="form-group">
    <%= f.label :calendar_id, "Which calendar do you want to use?" %>
    <%= f.collection_select :calendar_id, @calendars, :id, :summary, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :monthly_goal, "How much money do you want to make each month?" %>
    <%= f.text_field :monthly_goal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
<% end %>
