<%= form_for @user, url: user_settings_path do |f| %>
  <div class="form-group">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :calendar_id, "Calendar" %>
    <%= f.collection_select :calendar_id, @calendars, :id, :summary, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
<% end %>
