<div id="create-event-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content main">
      <h3 class="header"><%= event.summary %></h3>

      <div class="modal-body content">
        <% if conflicts.present? %>
          <%= render "conflicts", conflicts: conflicts %>
        <% end %>

        <% if recommendation %>
          <% recommendation_presenter = RecommendationPresenter.new(recommendation) %>
          <%= recommendation_presenter.recommendation %>
        <% end %>

        <div class="buttons clearfix">
          <div class="col-left">
            <button type="button" class="btn-blue" id="confirm-button">Add to Calendar</button>
          </div>

          <div class="col-right">
            <%= link_to "No, thanks.", "javasript:void(0)", data: { dismiss: "modal" } %>
          </div>
        </div>

        <% if recommendation %>
          <div class="footer">
            <div class="inner">
              <sup>1</sup>Your account is set up to track your progress by
              <%= link_to current_user.configuration.time_period, edit_users_account_path %>.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
