<% content_for :page_title do %>
  Add Event
<% end %>

<div id="events-new">
  <%= form_for @event, html: { class: "basic-form" } do |f| %>
    <% if @event.date.to_date < Date.today %>
      <%= render "date_in_past" %>
    <% end %>

    <%= render "form", f: f, event: @event %>

    <div class="footer">
      <div class="inner">
        <%= f.submit "Check Availability", class: "btn-blue" %>
        <%= link_to "Cancel", calendar_events_path, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>

<% if @recommendation || @conflicts.present? %>
  <%= render "create_event_modal", event: @event, recommendation: @recommendation,
    conflicts: @conflicts %>

  <script type="text/javascript">
    $("#create-event-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#create-event-modal").modal("hide");
      $("#confirm_submission").val("1");
      $("#events-new form").submit();
    });
  </script>
<% end %>
