<h3>
  <%= calendar.heading %>
  <%= link_to fa_icon("chevron-left"), previous_month_path(calendar), class: "previous" %>
  <%= link_to fa_icon("chevron-right"), next_month_path(calendar), class: "next" %>
</h3>

<table>
  <tr>
    <% Date::DAYNAMES.each do |name| %>
      <th><%= name[0] %></th>
    <% end %>
  <tr>
  <% calendar.days_in_weeks.each do |week| %>
    <tr>
      <% week.each do |day| %>
        <td>
          <div class="flipper-container">
            <div class="flipper <%= "disabled" unless day[1] %>">
              <div class="front <%= "disabled" unless day[1] %>" data-density="<%= day[2] %>">
                <%= link_to day[0], "javascript:void(0)" %>
              </div>
              <div class="back">
              </div>
            </div>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
