<h3>
  <%= calendar.heading %>
  <%= link_to fa_icon("chevron-left"), previous_month_path(calendar), class: "previous" %>
  <%= link_to fa_icon("chevron-right"), next_month_path(calendar), class: "next" %>
</h3>

<table>
  <tr>
    <% Date::DAYNAMES.each do |name| %>
      <th><%= name[0] %></th>
    <% end %>
  </tr>
  <% calendar.days_in_weeks.each do |week| %>
    <tr>
      <% week.each do |day| %>
        <td class="<%= "disabled" unless day[1] %>" data-path="<%= day[1] %>"
          data-density="<%= day[2] %>" data-event-list='<%= day[3] %>'>
          <%= link_to day[0], calendar_day_path(calendar, day) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
