<div id="create-gig-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content main">
      <h3 class="header"><%= gig.summary %></h3>

      <div class="modal-body content">
        <% if conflicts.present? %>
          <div id="conflicts">
            <p>
              <%= fa_icon("exclamation-triangle") %>
              You have the following conflicts:
            </p>

            <% event_presenter = EventPresenter.new(conflicts) %>
            <%= event_presenter.event_list %>
          </div>
        <% end %>

        <% recommendation_presenter = RecommendationPresenter.new(recommendation) %>
        <%= recommendation_presenter.recommendation %>

        <div class="buttons clearfix">
          <div class="col-left">
            <button type="button" class="btn-blue" id="confirm-button">Take the gig!</button>
          </div>

          <div class="col-right">
            <%= link_to "No, thanks.", "javasript:void(0)", data: { dismiss: "modal" } %>
          </div>
        </div>

        <% unless gig.in_past? %>
          <div class="footer">
            <div class="inner">
              <sup>1</sup>Your account is set up to track your progress by
              <%= link_to current_user.configuration.time_period, edit_users_account_path %>.
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
