<li>
  <div class="flipper-container vertical">
    <div class="flipper">
      <div class="front">
        <div class="row">
          <div class="col-xs-3 time">
            <%== format_gig_time(gig) %>
            <%= fa_icon("circle") %>
          </div>
          <div class="col-xs-9">
            <div>
              <%= truncate(gig.summary, length: 30) %>
            </div>
            <div class="location">
              <%= truncate(gig.location, length: 30) %>
            </div>
          </div>
        </div>
        <div class="arrow">
          <%= fa_icon("caret-right") %>
        </div>
      </div>

      <div class="back">
        <div class="arrow">
          <%= fa_icon("caret-left") %>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <%= number_to_currency(gig.pay, precision: 0) %>
            <%= fa_icon("circle") %>
          </div>
          <div class="col-xs-9 buttons">
            <%= link_to "Delete", gig, method: :delete, class: "delete",
              data: { confirm: "Are you sure you want to delete this gig?
              It will be removed from your Google Calendar.".squish } %>
            <%= link_to "Edit", edit_gig_path(gig), class: "edit" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>