<% content_for :page_title do %>
  Events
<% end %>

<div id="gigs">
  <div class="body">
    <ol class="gig-list">
      <%= render @gigs %>
    </ol>
  </div>
</div>

<%= link_to "Add Gig", new_gig_path, class: "btn btn-default" %>

<h3>Gigs</h3>

<hr />

<% if @gigs.empty? %>
  <p>Click <%= link_to "here", new_gig_path %> to add your first gig.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Summary</th>
        <th>Location</th>
        <th>Pay</th>
        <th>Time</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @gigs.each do |gig| %>
        <tr>
          <td><%= gig.summary %></td>
          <td><%= gig.location %></td>
          <td><%= gig.formatted_pay %></td>
          <td><%== format_gig_time(gig) %></td>
          <td><%= link_to "Edit", edit_gig_path(gig) %></td>
          <td><%= link_to "Delete", gig, method: :delete, data: { confirm: "Are you sure you want to delete this gig?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
