<% content_for :page_title do %>
  Add Event
<% end %>

<div id="gigs-new">
  <%= form_for @gig, html: { class: "basic-form" } do |f| %>
    <%= render "form", f: f, gig: @gig %>

    <div class="footer">
      <div class="inner">
        <%= f.submit "Save", class: "btn-blue" %>
        <%= link_to "Cancel", calendar_gigs_path, class: "cancel" %>
      </div>
    </div>
  <% end %>
</div>

<% if @recommendation %>
  <%= render "create_gig_modal", gig: @gig, recommendation: @recommendation, conflicts: @conflicts %>

  <script type="text/javascript">
    $("#create-gig-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#create-gig-modal").modal("hide");
      $("#confirm_submission").val("1");
      $("#gigs-new form").submit();
    });
  </script>
<% end %>
