<%= render "shared/validation_errors", resource: @gig %>

<%= form_for @gig do |f| %>
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_field :summary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pay %>
    <%= f.text_field :pay, value: @gig.formatted_pay(""), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :starts_at, "Start Time" %>
    <%= f.datetime_select :starts_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ends_at, "End Time" %>
    <%= f.datetime_select :ends_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= hidden_field_tag :double_confirmation, false %>
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
<% end %>

<% if @recommendation %>
  <%= render "create_gig_modal", recommendation: @recommendation, conflicts: @conflicts %>

  <script type="text/javascript">
    $("#create-gig-modal").modal("show");

    $("#confirm-button").click(function() {
      $("#create-gig-modal").modal("hide");
      $("#double_confirmation").val(true);
      $(".new_gig").submit();
    });
  </script>
<% end %>
