<nav>
  <div class="container">
    <%= link_to "amifree", root_path , class: "brand hidden-mobile" %>

    <ul>
      <li class="hidden-desktop"><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <% if current_user.has_completed_setup? %>
          <li><%= link_to "Events", gigs_path %></li>
          <li><%= link_to "Settings", edit_users_account_path %></li>
        <% end %>
        <li><%= link_to "Log Out", destroy_user_session_path %></li>
      <% else %>
        <li><%= link_to "Log In", user_omniauth_authorize_path(:google_oauth2) %></li>
      <% end %>
    </ul>
  </div>
</nav>