<!DOCTYPE html>
<html>
<head>
  <title>Do I Need This Gig?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/flash_messages" %>

  <%= render "layouts/nav" %>

  <div class="container">
    <div class="<%= "main" unless template_contains_main_section? %>">
      <h1 class="header page-title <%= "hidden-desktop" if template_contains_main_section? %>">
        <%= yield :page_title %>
        <%= fa_icon("bars", class: "nav-toggle hidden-desktop") %>
      </h1>

      <div class="<%= "content" unless template_contains_main_section? %>">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
