<!DOCTYPE html>
<html>
<head>
  <title>Do I Need This Gig?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="overlay"></div>
  <div id="wrapper">
    <header>
      <div class="container">
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, class: "pull-right" %>
        <% else %>
          <%= link_to "Log In", user_omniauth_authorize_path(:google_oauth2), class: "pull-right" %>
        <% end %>
      </div>
    </header>

    <%= render "layouts/flash_messages" %>

    <%= yield %>
  </div>
</body>
</html>
